* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
	--primary: #32b4f0;
	--primary-glow:#67dafd;
	--secondary: #00386d;
	--accent: #4eb5dd;
	--dark-1: #0a0c12;
	--dark-2: #12171f;
	--dark-3: #1a232e;
	--glass-bg: rgba(255, 255, 255, 0.03);
	--glass-border: rgba(255, 255, 255, 0.08);
	--glow-cyan: rgba(0, 110, 255, 0.4);
	--glow-org: rgba(0, 140, 255, 0.4);
	--glow-magenta: rgba(0, 119, 255, 0.4);
	--confirm: rgb(94, 252, 128);
	--confirm-glow:rgba(94, 252, 128, 0.432);
	--action: rgb(255, 197, 38);
	--action-glow: rgba(255, 187, 0, 0.411);
}

body {
	font-family: 'Poppins', "Helvetica Neue", system-ui, Arial, sans-serif;
	background: linear-gradient(to bottom, var(--dark-1), var(--dark-3));
	color: #ffffff;
	overflow-x: hidden;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: 18px;
}

.desc1 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#bg-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: -3;
  opacity:15%;
}

.intro {
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.8s ease;
}

.intro.active {
  opacity: 1;
  transform: translateY(0);
}

#dcpopup-ovr {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.7);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 20;
}

#dcpopup {
	background: var(--glass-bg);
	border: 1px solid var(--glass-border);
	backdrop-filter: blur(50px);
	-webkit-backdrop-filter: blur(50px);
	border-radius: 12px;
	padding: 20px;
	width: 800px;
	max-width: 90%;
	text-align: center;
	position: relative;
	box-shadow: 0 0 30px rgba(0, 0, 0, 0.514);
	flex-direction: column;
	padding:40px;
	animation: scaleIn 0.5s cubic-bezier(0.0, 0, 0.2, 1) forwards;
}


.popup-content {
	display:flex;
	gap:20px;
	flex-wrap: wrap;
	justify-content: space-between;
  	align-items: flex-start;
}

.popup-text {
	flex:1;
	max-width: calc(100% - 260px);
	overflow-wrap:break-word;
}

.popup-text h2 {
	font-size: 40px;
	margin-bottom: 20px;
}

.popup-text p {
	font-size: 16px;
	line-height: 1.8;
}

.popup-discord {
	width:250px;
}

@keyframes scaleIn {
  0% {
    transform: scale(0.8);
    opacity: 0;
  }
  100% {
    transform: scale(1.2);
    opacity: 1;
  }
}

.popup-text button {
	margin-top: 50px;
	padding: 10px 20px;
	font-size: 16px;
	color: #fff;
	font-family: inherit;
	background: var(--primary);
	border: none;
	border-radius: 8px;
	width:400px;
	font-weight: 600;
	text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.8);
	cursor: pointer;
	box-shadow: 0 0 20px var(--glow-cyan);
	transition: background 0.3s ease, box-shadow 0.3s ease, color .3s ease;
}

.popup-text button:hover {
	background: var(--primary-glow);
	box-shadow: 0 0 40px var(--glow-cyan);
	color:black;
	transition: background 0.3s ease, box-shadow 0.3s ease, color .3s ease;
}

#popup-close {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: none;
  color: #fff;
  font-size: 1.2em;
  cursor: pointer;
}

nav {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	z-index: 10;
	background: var(--glass-bg);
	border-bottom: 1px solid var(--glass-border);
	backdrop-filter: blur(50px);
	-webkit-backdrop-filter: blur(50px);
	padding: 25px 0px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	font-size: 24px;
}

nav a {
	color: inherit;
	text-decoration: none;
	margin-left: 0px;
	display: inline;
}

.ip-box {
	background: var(--glass-bg);
    backdrop-filter: blur(2px);
	border: 2px solid var(--accent);
	border-radius: 12px;
	padding: 8px 20px;
	margin: 10px auto;
	margin-bottom:20px;
	font-size: 22px;
	box-shadow: 0 0 20px var(--glow-cyan);
    z-index: 2;
	display: flex;
	align-items: center;
	gap: 12px;
	cursor:pointer;
	transition: box-shadow .3s ease;
}

.ip-box:hover {
	box-shadow: 0 0 20px var(--action-glow);
	border: 2px solid var(--action);
	transition: box-shadow 0.3s ease, border .3s ease;
}

.ip-box:active {
	box-shadow: 0 0 20px var(--confirm-glow);
	border: 2px solid var(--confirm);
	transition: box-shadow 0.0s ease, border .0s ease;
}

.ip-header-box {
	background: var(--accent);
	border-radius: 8px;
    margin-left: -13px;
    font-weight: 600;
	padding: 4px 10px;
    box-shadow: 0 0 20px rgba(78, 181, 221, 0.3);
	display: flex;
	align-items: center;
}

.ip-box:hover .ip-header-box{
	box-shadow: 0 0 20px var(--action-glow);
	background: var(--action);
	transition: box-shadow 0.3s ease, background .3s ease;
}

.ip-box:active .ip-header-box{
	box-shadow: 0 0 20px var(--confirm-glow);
	background: var(--confirm);
	transition: box-shadow 0.0s ease, background .0s ease;
}

.iptext-header {
	margin: 0;
	color: var(--dark-1);
}

.desc2-text {
	width:50%;
	background: var(--glass-bg);
	backdrop-filter: blur(20px);
	-webkit-backdrop-filter: blur(20px);
	border: 1px solid var(--glass-border);
	border-radius: 24px;
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 20px 30px;
	cursor:default;
	position: relative;
	overflow: hidden;
	opacity: 0;
	margin-bottom: 30px;
	margin: 0 auto 30px auto;
	margin-top:25px;
	font-size: 20px;
	font-weight: 400;
	text-align:center;
}

nav ul, nav ol {
	display: flex;
	list-style:none;
	gap: 100px;
}

nav li {
	display: flex;
}

nav a.anim-ul {
  position: relative;        
  text-decoration: none;    
  color: #fff;
  display: inline-block;     
  padding: 0px 0;
  transition: transform 0.2s ease;
}

nav a.anim-ul::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;               
  height: 2px;               
  background: var(--accent);
  box-shadow:0 0 20px var(--accent);
  transform: scaleX(0);      
  transform-origin: center;   
  transition: transform 0.3s ease; 
}

nav a.anim-ul:hover {
	color:var(--primary-glow);
	text-shadow:0 0 20px var(--glow-cyan);
	transform: scale(1.1);   
}

nav a.anim-ul:hover::after {
  transform: scaleX(1);    
}

.logo {
	width: 250px;
	height: 250px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 80px auto 0 auto;
	position: relative;
	z-index:2;
}

.ambient-bg {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
	z-index: 0;
	overflow: hidden;
}

.grid-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image:
		linear-gradient(rgba(255, 255, 255, 0.05) 1px, transparent 1px),
		linear-gradient(90deg, rgba(255, 255, 255, 0.05) 1px, transparent 1px);
	background-size: 80px 80px;
	pointer-events: none;
	z-index: 0;
	opacity:0%;
}

.cmc-desc {
    position: relative;
    z-index: 2;
    max-width: 800px;
    margin: 100px auto;
    padding: 20px;
    background: var(--glass-bg);
    border: 1px solid var(--glass-border);
    border-radius: 10px;
    text-align: center;
    backdrop-filter: blur(5px);
}

footer {
    position: fixed;
    bottom: 0;
    z-index: 2;
    text-align: center;
    padding: 7px;
    background: var(--glass-bg);
    border: 2px solid var(--glass-border);
    border-radius: 20px;
    font-size: 10px;
    left: 7.5%;
    transform: translateX(-50%);
    margin-bottom: 10px;
	opacity:50%;
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
}

h1{
    font-size: 70px;
    margin-bottom: -10px;
}

.defdesc {
	font-size: 20px;
	margin-bottom: 5px;
	margin-top:10px;
}

.staff-info .ign {
	margin-top:5px;
	font-weight: bold;
	font-size: 1.1em;
}



.menu-grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, 160px);
	gap: 0px;
	margin: 0px auto;
	justify-content: center;
	max-width: calc(10 * 204px + 9 * 25px);
}

.menu-item {
	width:180px;
	background: var(--glass-bg);
	backdrop-filter: blur(20px);
	-webkit-backdrop-filter: blur(20px);
	border: 1px solid var(--glass-border);
	border-radius: 24px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	cursor: pointer;
	position: relative;
	overflow: hidden;
	opacity: 100;
	z-index:2;
	padding-bottom: 0px;
	padding:20px 20px;
	transition: box-shadow 0.3s ease, opacity 0.3s ease, border .3s ease, transform .3s ease;
	transform:scale(0.8);
}

.menu-item:hover {
	opacity: 100;
	box-shadow: 0 0 20px var(--glow-cyan);
	border:2px solid var(--accent);
	transform:scale(.85);
	transition: box-shadow 0.3s ease, opacity 0.3s ease, border .1s ease, transform .3s ease;
}

.menu-item img {
	width: 100px;
	height: 100px;
	margin-bottom: 0px;
	border-radius: 20%;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.336);
}

.menu-item p {
	font-size: 12px;
	opacity:70%;
	margin: 0;
	padding:0 15px;
}

.staff-info .rank {
	font-size: 0.8em;
	text-shadow: 0 0 3px rgba(0, 0, 0);
	width:100px;
	color: #fff;
	font-weight: 600;
	border:1px solid var(--action);
	border-radius: 25px;
	padding: 2px 5px;
	margin-top:5px;
	margin: 5px auto 0;
	background:linear-gradient(90deg, rgb(255, 153, 0),rgb(255, 187, 0));
	box-shadow: 0 0 20px var(--action-glow); 
}

.stafftitle
{
	margin-bottom: 20px;
	text-align: center;
}

.rank.owner {
	background: linear-gradient(90deg, red, darkred);
	border:1px solid red;
	box-shadow: 0 0 20px rgba(255, 0, 0, 0.5);
}

.rank.manager {
	background: linear-gradient(90deg, orange, darkorange);
	border:1px solid orange;
	box-shadow: 0 0 20px rgba(255, 165, 0, 0.5);
}

.rank.developer {
	background: linear-gradient(90deg, cyan, darkcyan);
	border:1px solid cyan;
	box-shadow: 0 0 20px rgba(0, 255, 255, 0.5);
}

.rank.admin {
	background: linear-gradient(90deg, blue, darkblue);
	border:1px solid blue;
	box-shadow: 0 0 20px rgba(0, 0, 255, 0.5);
}

.rank.helper {
	background: linear-gradient(90deg, magenta, darkmagenta);
	border:1px solid magenta;
	box-shadow: 0 0 20px rgba(255, 0, 255, 0.5);
}

.menu-toggle {
	display: none;
	font-size: 24px;
	cursor: pointer;
}

@media (max-width: 768px) {
	.desc2-text {
		width: 80%;
		font-size:16px;
	}
	.desc1 h1 {
		font-size: 60px;
	}
	.defdesc {
		font-size: 16px;
		text-align: center;
	}
	.menu-item {
		width: 100%;
	}
	.menu-grid {
		grid-template-columns: 1fr;
		max-width: none;
	}
	.logo {
		margin: 40px auto 20px auto;
		height:200px;
		width:200px;
	}
	.nav-links {
		display: none;
		position: absolute;
		top: 100%;          
		left: 20px;
		
		left: 50%;
   		transform: translateX(-50%);
		margin-top:10px;
		
		flex-direction: column;
		background:  #1b1b1b;
		border: 1px solid var(--glass-border);
		padding: 25px 80px;
		align-items: center;
		font-weight: 500;
		border-radius: 20px;
		gap: 25px;
		z-index:10;
	}
	.navbar {
		position: relative;
		display: flex;
		align-items: center;
		padding: 5px 15px;
		margin-top:10px;
		border-radius:20px;
	}
	.menu-toggle {
		display: block;
		left:0%;
		margin-right: auto;
	}
	.nav-links.active {
		display: flex;
	}
	.stafftitle {
		font-size: 30px;
		margin-top:20px;
	}
	.menu-grid {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 0px;
		margin: 0px auto;
		justify-content: center;
		max-width: calc(2 * 204px + 1 * 25px);
	}
	.menu-item {
		width:180px;
		background: var(--glass-bg);
		backdrop-filter: blur(20px);
		-webkit-backdrop-filter: blur(20px);
		border: 1px solid var(--glass-border);
		border-radius: 24px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
		cursor: pointer;
		position: relative;
		overflow: hidden;
		opacity: 100;
		z-index:2;
		padding-bottom: 0px;
		padding:20px 20px;
		transition: box-shadow 0.3s ease, opacity 0.3s ease, border .3s ease, transform .3s ease;
		transform:scale(0.8);
	}
	footer {
		left: 50%;
		transform: translateX(-50%);
		position: relative; /* or just remove fixed/absolute */
  		width: 100%;
		background: none;
		border:none;
	}
}

/* gotta be really bored to read all this */ 
